* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(225deg, #bc2c04 10%, #e634e6 95%);
}

.container .msg {
  height: 5vmin;
  line-height: 5vmin;
  text-align: center;
  border-radius: 1vmin;
  width: 50vmin;
  visibility: hidden;
  margin: 2vmin auto;
  background-color: black;
}

.msg p {
  font-size: 3vmin;
  font-weight: 600;
  color: #ffffff;
}

.task {
  display: flex;
  background-color: #e3d47e6c;
  width: 100%;
  height: 8vmin;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vmin;
}

.display {
  display: none;
}
.task .task-added {
  padding-left: 4vmin;
  font-size: 3vmin;
  font-weight: 600;
}
