form .todo-content {
    display: flex;
    margin: 1vmin 0 3vmin 0;
    width: 100%;
    position: relative;
  }
  .todo-content .add-task {
    width: 100%;
  }
  .todo-content .add-task input {
    width: 100%;
    height: 10vmin;
    border: 1px solid #aaaaaa;
    padding-left: 4vmin;
    font-size: 3.5vmin;
    outline: none;
    border-radius: 1vmin;
  }